---
Checks:             '-*,
                    bugprone-*,
                    clang-analyzer-*,
                    clang-diagnostic-*,
                    concurrency-*,
                    cppcoreguidelines-*,
                    llvm-*,
                    misc-*,
                    modernize-*,
                    performance-*,
                    portability-*,
                    readability-*,
                    -readability-magic-numbers,
                    -cppcoreguidelines-avoid-magic-numbers,
                    -llvm-header-guard,

                    -readability-braces-around-statements,
                    -llvm-include-order,
                    -bugprone-reserved-identifier,
                    -readability-identifier-length,
                    -modernize-use-nodiscard
                    '
WarningsAsErrors:   ''
HeaderFilterRegex:  '.hpp'
FormatStyle:        file
User:               'Frazzer'
...

