---
BasedOnStyle: LLVM
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
  PadOperators: true
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 127
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IndentExternBlock: Indent
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
ReflowComments: false
SortIncludes: Never
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceAroundPointerQualifiers: Both
SpaceBeforeCpp11BracedList: true
SpacesBeforeTrailingComments: 4
SpacesInConditionalStatement: true
SpacesInParentheses: true
